body {
background-color: #f0f;
background-color: #1f7ed4;
}

#header {
        font-family: arial, helvetica, sans-serif;
        position: relative;     /* do not remove necessary to absolute position logo with IE */
}

#header, #main-page {
        width: 964px;
        margin-right: auto;
        margin-left: auto;
}

#header img {
        position: absolute;
}

#header a img {
        outline: none;
        border: none;
}

#header a, #nav a {
        font-weight: bold;
        text-decoration: none;
}

#header a:link, #header a:hover, #nav a:link, #nav a:hover {
        color: #fff;
}

#header a:active, #nav a:active {
        color: #ccc;
}

#header a:visited, #nav a:visited {
        color: #004480;
}

#header a:hover, #header a:active, #nav a:hover, #nav a:active {
        text-decoration: underline;
}

#outer-wrapper {
        padding-top: 67px;
/*        clear: none;  */
}

#header div.wrapper {
        width: 940px;
        margin: 0 auto -1px 10px;
        padding: 12px 0 0;
        background-image: url(../images/h2_box_top.gif);
        background-repeat: no-repeat;
}

#header div.wrapper div {
        margin: -1px 0 0;
        padding: 0 0 12px;
        background-image: url(../images/h2_box_bottom.gif);
        background-repeat: no-repeat;
        background-position: bottom;
}

h1 {
        color: #fff;
        text-align: right;
        width: 910px;
        margin: 0 0 0 auto;
        padding-right: 80px;
}

h1 span {
        font-size: 62%;
}

h2 {
        text-align: right;
        color: #004480;
        font-size: 98%;
        margin: -1px 0;
        padding: 0 40px 0;
        background-image: url(../images/h2_box_middle.gif);
        background-repeat: repeat-y;
        background-color: #fff;
}

h2 span {
        padding: 0 12px;
}

#header ul {
        text-align: right;
        margin-right: 50px;
        padding-right: 0;
}

#header li {
        color: #fff;
        font-size: 90%;
        margin: 24px 0 0;
        padding: 0;
        list-style: none;
}

#nav ul {
        margin: 36px 0 0;
        padding: 0;
}

#nav {
        position: relative;
        float: left;
        width: 218px;
        display: inline;
}

#nav li {
        font-family: arial, helvetica, sans-serif;
        font-size: 90%;
        margin: .75em auto 0 50px;
        list-style: none;
}

#main-content h3, #main-content h4, #main-content h5, #main-content p, #main-content ul, #main-content ol, #main-content dl {
        margin: 0;
}

#main-content {
        width: 732px;
        float: left;
        display: inline;
        margin-top: 37px;
        padding: 12px 0 0;
        background-image: url(../images/text_box_top.gif);
        background-repeat: no-repeat;
}

#main-content div.wrapper {
                margin: 0;
        padding: 0 0 12px;
        background-image: url(../images/text_box_bottom.gif);
        background-repeat: no-repeat;
        background-position: bottom;
}

#main-content div.wrapper div {
        margin: -1px 0;
        padding: 42px 40px 20px;
        background-image: url(../images/text_box_middle.gif);
        background-repeat: repeat-y;
        background-color: #fff;
}

#main-content div.wrapper div div {
        padding: 0 !important;
}

h3 {
        color: #004480;
        font-size: 140%;
        padding-bottom: 1em;
}

h4 {
        padding-bottom: .5em;
}

#main-content p, #main-content ol, #main-content ul {
        font-family: arial, helvetica, sans-serif;
        font-size: 90%;
        line-height: 150%;
        padding-bottom: 1em;
}

table { 
        border: #000 2px solid;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
}

thead {
        background-color: #999;
        font-size: 120%;
        font-weight: bold;
}
th, td {
        padding: 4px 8px 2px;
        border: #999 1px solid;
}

table .boolean {
        text-align: center;
}

table .measurement {
        text-align: right;
}
