#nav
  %ul
    %li
      %a{href: root_path} Home
    %li
      %a{href: 'http://www.facebook.com/pages/Cedro-Peak-Ultramarathon/241335072588032?v=wall'} Visit us on Facebook
    %li
      %a{href: image_path('course_map.jpg')} Course
    %li
      %a{href: asset_path('detailed_profile.pdf')} Detailed Profile
    %li
      %a{href: 'http://ultrasignup.com/register.aspx?did=16824'} Registration
    %li
      %a{href: course_description_path} Course Description
    %li
      %a{href: rules_path} Race Rules
    %li
      %a{href: aid_stations_path} Aid Station Chart
    %li
      %a{href: schedule_path} Schedule
    %li
      %a{href: directions_path} Directions
    %li
      %a{href: 'http://ultrasignup.com/results_event.aspx?did=13576'} Results
