#nav
  %ul
    %li
      %a{href: 'index.html'} Home
    %li
      %a{href: 'http://www.facebook.com/pages/Cedro-Peak-Ultramarathon/241335072588032?v=wall'} Visit us on Facebook
    %li
      %a{href: '/images/course_map.jpg'} Course
    %li
      %a{href: '/detailed_profile.pdf'} Detailed Profile
    %li
      %a{href: 'http://ultrasignup.com/register.aspx?did=16824'} Registration
    %li
      %a{href: 'course_description.html'} Course Description
    %li
      %a{href: 'race_rules.html'} Race Rules
    %li
      %a{href: 'aid_station_table.html'} Aid Station Chart
    %li
      %a{href: 'schedule.html'} Schedule
    %li
      %a{href: 'directions.html'} Directions
    %li
      %a{href: 'http://ultrasignup.com/results_event.aspx?did=13576'} Results
