%h3 Aid Station Chart
#wrapper-for-ie
%table
  %thead
    %tr
      %td{colspan: 5} 45 mile
  %tbody
    %tr
      %th Aid Station
      %th Mile
      %th Drop Bag
      %th Crew
      %th Cutoff
    %tr
      %td Start
      %td.measurement 0
      %td.boolean Y
      %td.boolean Y
      %td.measurement 6:00 AM
    %tr
      %td Juan Tomas
      %td.measurement 5
      %td.boolean N
      %td.boolean N
      %td.measurement -
    %tr
      %td Cedro
      %td.measurement 12
      %td.boolean Y
      %td.boolean Y
      %td.measurement -
    %tr
      %td Powerline (water only)
      %td.measurement 16
      %td.boolean N
      %td.boolean N
      %td.measurement &bull;
    %tr
      %td Four Corners
      %td.measurement 20
      %td.boolean N
      %td.boolean N
      %td.measurement -
    %tr
      %td Coyote
      %td.measurement 26
      %td.boolean Y
      %td.boolean Y
      %td.measurement 12:30 PM
    %tr
      %td Powerline (water only)
      %td.measurement 28
      %td.boolean N
      %td.boolean N
      %td.measurement &bull;
    %tr
      %td Cedro
      %td.measurement 32
      %td.boolean Y
      %td.boolean Y
      %td.measurement 2:30 PM
    %tr
      %td Juan Tomas
      %td.measurement 39
      %td.boolean N
      %td.boolean N
      %td.measurement 5:00 PM
    %tr
      %td Finish
      %td.measurement 45
      %td.boolean Y
      %td.boolean Y
      %td.measurement -
%table
  %thead
    %tr
      %td{colspan: 5} 45 km
  %tbody
    %tr
      %th Aid Station
      %th Mile
      %th Drop Bag
      %th Crew
      %th Cutoff
    %tr
      %td Start
      %td.measurement 0
      %td.boolean Y
      %td.boolean Y
      %td.measurement 6:00 AM
    %tr
      %td Juan Tomas
      %td.measurement 5
      %td.boolean N
      %td.boolean N
      %td.measurement -
    %tr
      %td Cedro
      %td.measurement 12
      %td.boolean Y
      %td.boolean Y
      %td.measurement -
    %tr
      %td Turn Around (No Aid)
      %td.measurement 14
      %td.boolean N
      %td.boolean N
      %td.measurement &bull;
    %tr
      %td Cedro
      %td.measurement 16
      %td.boolean Y
      %td.boolean Y
      %td.measurement 12:30 PM
    %tr
      %td Juan Tomas
      %td.measurement 23
      %td.boolean N
      %td.boolean N
      %td.measurement 3:00 PM
    %tr
      %td Finish
      %td.measurement 28
      %td.boolean Y
      %td.boolean Y
      %td.measurement -
