%h3 Course Description
%p The Cedro Peak area is a labyrinth of trails and double track just minutes from Albuquerque, in Tijeras.  Starting at the Oak Flat Group Area, the course takes runners through a dense forest of ponderosa pine, juniper, and pi&ntilde;on. It is primarily rolling single track with several steep, but short climbs, and a few short sections of double track and dirt roads.  Many sections are very rocky, but there are some fast, non-technical sections.
