%h3 Directions
%h4 Start/Finish (Oak Flat)
%p From Albuquerque, Take I-40E to Tijeras Exit. Drive straight at light onto NM 337 South and drive for 8.7 miles (7.3 miles south from the turn off to coyote). There will be a large sign saying Oak Flat Picnic Ground/FS 413. Turn left onto FS 413.  Oak Flat is about &frac12; mile on the left. There is a large sign.
%h4 Cedro Aid Station
%p From Albuquerque, Take I-40E to Tijeras Exit. Drive straight at light onto NM 337 South and south. Half way to the Start/Finish Area, there will be a large sign saying Cedro Group Area/Juan Tomas. Turn.  Shortly after turning left, there will be a dirt road on your left and a large sign saying Cedro Group Area to the left. Turn left and continue for two miles on the good dirt road to the aid station.
%h4 Coyote Aid Station
%p From Albuquerque, Take I-40E to Tijeras Exit. Drive straight at light onto NM 337 South.  After 1.3 miles, there is a large sign saying Coyote Trailhead/FS462. Turn left onto FS 462.  Drive up the hill for about &frac12; mile and the large trailhead is on the left.  There is a large sign. NOTE: It is not the smaller trailhead on the right directly after turning onto FS462.
