%h3 Welcome
%p The Cedro Peak Ultramarathon is a mid April, fully supported 45 mile and 45 km (28 mile) ultramarathon held in the Cibola National Forest, just outside of Albuquerque.  100% of the proceeds go to charity.  The race is an environmentally friendly leave-no-trace event bringing exciting wild trail running to Albuquerque's doorstep.
%p CPU45 is a magnificent companion of several other notable endurance events in New Mexico, including:
%ul
  %li
    %a{href: 'http://www.mttaylorquad.org'} Mount Taylor Winter Quadrathlon
    (February)
  %li
    %a{href: 'http://www.bataanmarch.com'} Bataan Memorial Death March
    (March)
  %li
    %a{href: 'http://www.highaltitudeathletics.org/JemezMt.htm'} Jemez Mountain Trail Runs
    (May)
  %li
    %a{href: 'https://www.facebook.com/events/384813538203020/'} Angel Fire Endurance Run
    (June)
  %li
    %a{href: 'http://www.abqroadrunners.com/la-luz-trail-run.html'} La Luz Trail Run
    (August)
  %li
    %a{href: 'http://mttaylor50k.com'} Mount Taylor 50k
    (September)
  %li
    %a{href: 'http://dp50.org'} Deadman Peaks Trail Run
    (October)
%br/
%br/
%h4 December 18th, 2012
%p
  %a{href: 'http://www.abqroadrunners.com/'} Albuquerque Road Runners
  sponsors CPU45. Thank you, ARR.
%p
  %a{href: 'http://www.abqroadrunners.com/'}
    %img{src: '/images/arr_full_color_logo.png', alt: 'Albuquerque Road Runners logo', width: 384, height: 389}
%br/
%br/
%h4 December 6th, 2012
%p
  The Cedro Peaks Ultramarathon is now hosted by
  %a{href: 'http://mcmelegantealbuquerque.com/'} MCM Eleganté Hotel
  in Albuquerque!  The Hotel is located within 30 minutes of the race Start/Finish line and just off of I-40 for easy travel.  The guest runners are offered a rate of $75 + tax per night that includes a free full service breakfast and 2 drink tickets.  All the rooms blocked for this race have microwaves and refrigerators.  They also provide a free shuttle service that includes transportation to/from the airport, Uptown, Downtown and Old Town.  The
  %a{href: 'http://mcmelegantealbuquerque.com/'} Eleganté
  has many amenities; if you choose to stay there, click on
  %a{href: 'https://gc.synxis.com/rez.aspx?Hotel=24476&amp;Chain=9547'} Reservations
  and type in "Cedro" in the Corporate/Promotion code box.
%p
  %a{href: 'http://mcmelegantealbuquerque.com/'}
    %img{src: '/images/elegante.jpg', alt: 'Hotel Eleganté logo'}
%br/
%br/
%h4 October 14th, 2012
%p
  %a{href: 'http://ultrasignup.com/register.aspx?did=16824'} Registration
  opened on September 1st.  You have until November 30th to register for only $45.
%br/
%br/
%h4 April 8th, 2012
%p
  It was a great race.  Jason Loutitt won in 6:30:47.  Complete race results are available at
  %a{href: 'http://ultrasignup.com/results_event.aspx?did=13576'} ultrasignup.com
%br/
%br/
%h4 February 5th, 2012
%p
  Two new sponsors.  Welcome
  %a{href: 'http://www.trailrunnermag.com'} TrailRunner
  and&nbsp;
  %a{href: 'http://www.sunflowermarkets.com/'}> Sunflower Farmer's Market
  \.
%p
  %a{href: 'http://www.trailrunnermag.com'}
    %img{src: '/images/TS.logo.12.jpg', alt: 'TrailRunner 2012 Trophy Series logo'}>
  %a{href: 'http://www.sunflowermarkets.com/'}
    %img{src: '/images/sunflower_farmers.jpg', alt: "Sunflower Farmer's Market logo"}>
%br/
%br/
%h4 December 6th, 2011
%p
  Welcome&nbsp;
  %a{href: 'http://www.salomon.com'}> Salomon
  , our latest sponsor.
%p
  %a{href: 'http://www.salomon.com'}
    %img{src: '/images/salomon_w_on_b.jpg', alt: 'Salomon logo', height: 51, width: 322}
%br/
%br/
%h4 October 10th, 2011
%p
  Welcome&nbsp;
  %a{href: 'http://www.hammernutrition.com'}> Hammer Nutrition
  , our latest sponsor.
%p
  %a{href: 'http://www.hammernutrition.com'}
    %img{src: '/images/hammer_logo.jpg', alt: 'Hammer Nutrition logo', height: 196, width: 300}
%br/
%br/
%h4 October 1st, 2011
%p
  We would like to welcome&nbsp;
  %a{href: 'http://www.fleetfeetalbuquerque.com/'}> Fleet Feet Sports, Albuquerque
  , and the
  %a{href: 'http://redstargiftcard.com'} Red Star Sunglasses
  as our first two official sponsors!
%p
  %a{href: 'http://www.fleetfeetalbuquerque.com/'}
    %img{src: '/images/fleet_feet.jpg', alt: 'Fleet Feet Sports Albuquerque logo'}
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  %a{href: 'http://redstargiftcard.com'}
    %img{src: 'https://www.redstarworldwear.com/sites/all/themes/redstar/logo.png', alt: 'Red Star Worldwear logo'}
