%h3 Race Rules
%ol
  %li No Littering&mdash;not even at or near aid stations.  Anyone littering will be disqualified. We encourage runners to pick up litter as they go.
  %li No Pacers
  %li All runners must check in and out of all aid stations.  Runners may only drop at an aid station and must inform the aid station captain and turn in their number if they drop.  The runner will be responsible for any search and rescue costs if this is not done.
  %li Crews are only allowed at Cedro, Coyote, and the Start/Finish.
  %li Runners must abide by cutoffs.
  %li No dogs at the aid stations, start/finish, or on the course.
  %li Runners may be pulled at any time if aid station personnel deem them unfit to continue safely to the next aid station.
