%h3 Schedule
%h4
  Friday, April 12&nbsp;&ndash;&nbsp;
  %a{href: 'http://mcmelegantealbuquerque.com/'}> MCM Eleganté Hotel
  , 2020 Menaul NE, Albuquerque, NM 87107
%ul
  %li
    4-6 PM Packet Pickup
  %li
    6 PM Pre-race Pasta Dinner:
    $14/person; spaghetti (vegetarian or meat
    sauce), garlic bread, salad, vegetable dish and a dessert cookie.
%h4 Saturday, April 13
%ul
  %li 4:30-5:45 AM Race Check-In, Drop Bags due &ndash; Oak Flat Group Area
  %li 6:00 AM 45 Mile Start
  %li 6:30 AM 45 Kilometer Start
  %li 7:00 PM Course Closes

