%h3 Schedule
%h4 Friday, April 12
%ul
  %li
    3-7 PM Packet Pickup &ndash;&nbsp;
    %a{href: 'http://mcmelegantealbuquerque.com/'}> MCM Eleganté Hotel
    , 2020 Menaul NE, Albuquerque, NM 87107
%h4 Saturday, April 13
%ul
  %li 4:30-5:45 AM Race Check-In, Drop Bags due &ndash; Oak Flat Group Area
  %li 6:00 AM Start
  %li 7:00 PM Course Closes

